* {
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #414141;
    color: #ffffff;
    padding-top: 5px;

}

.header-content {
    color: #ffffff;
    /* padding: 30p?x 0; */
    margin-bottom: 50px;
}

nav {
    background-color: #000;
    display: flex;
    justify-content: space-around;

}

.nav-item {
    height: 50px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    min-height: 50vh;
    grid-template-columns: 3fr 1fr;

}

.main-container {
    background-color: azure;
    padding: 10px;
}

aside {
    background-color: rgb(84, 84, 84);
    color: #fff;
    padding: 10px;
}

footer {
    display: flex;
    background-color: #414141;
    color: #ffffff;
    justify-content: center;
    align-items: start;
    height: 15vh;
}

footer h2 {}