@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #ffffff;
    --secondary-color: #024059;
    --accent1-color: #fff;
    --accent2-color: #bfb115;

    /* change the values below to your chosen font(s) */
    --heading-font: "Itim", cursive;
    --paragraph-font: "Red Hat Display", sans-serif;

    /* headlines on a colored background */
    --nav-link-color: #ffffff;
    --nav-background-color: #396E94;
    --nav-hover-link-color: #bfb115;
    --nav-hover-background-color: #396E94;
}



* {
    padding: 0;
    margin: 0;
    font-family: var(--paragraph-font), Helvetica, sans-serif;
    font-weight: 600;
}

img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--accent1-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
}

p {
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: block;
    background-color: var(--secondary-color);
    /* padding: 30px; */
}

.headTitle {
    /* margin: 30?px 0; */
    display: flex;
    padding: 30px 15px;
    place-content: center;
    text-align: center;
    /* border: #ffffff solid 2px; */
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--nav-background-color);
    padding: 15px 0;
    list-style: none;
}

.nav-item {
    display: block;
    /* padding: 10px; */
    /* border: 1px solid white; */
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: var(--nav-link-color);

}

.nav-item a:hover {
    color: var(--nav-hover-link-color);
    border-bottom: 2px var(--accent2-color) solid;
    padding-bottom: 2px;
}

/* Style the main section */

main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    justify-content: space-evenly;
    column-gap: 5px;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
}

.card {
    border: #D9CCC1 1px solid;
    border-radius: 20px;
    margin: 15px 10px;
    position: relative;
}

.card h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 20px 20px 0 0;
    font-size: 1.2rem;
}

/* Style first card section */

.intro-box {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    text-align: justify;
    position: relative;
    max-width: 100%;
}

.intro-details {
    padding-top: 20px;
}

/* Style first card section */

.state-intro-box {
    /* padding: 20px; */
    width: 95%;
    margin: 0 auto;
}

.state-intro-box h2 {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--nav-hover-link-color);
    padding-bottom: 10px;
    background-color: var(--accent1-color);
}

.state-intro-content {
    display: flex;
    text-align: justify;
    gap: 10px;
    padding: 20px 0;
}

.flag-box>p {
    font-style: italic;
    font-size: small;
    text-align: left;
}


/* Style web dev section */
.web-dev ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    font-size: 1.2rem;
}

.web-dev ul li,
.web-dev ul li a:hover {
    list-style-type: disc;
    display: block;
    padding: 5px;
    text-decoration: underline;
    color: var(--secondary-color);
}

.web-dev ul li a:active {
    color: var(--accent2-color);
}


/* Style Footer */

footer {
    background-color: var(--secondary-color);
    padding: 20px;
}

footer p {
    color: #fff;
    display: block;
    flex-basis: 100%;
    text-align: center;
}

footer .lstMod {
    margin-top: 15px;
    color: var(--accent2-color);
    font-size: 0.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width:800px) {
    .headTitle {
        font-size: 0.8rem;
        padding: 40px;
        text-align: center;
    }

    main {
        display: block;
    }

    .web-dev ul {
        padding: 20px;
    }
}

@media screen and (max-width:600px) {
    .headTitle {
        font-size: 0.8rem;
        padding: 40px;
        text-align: center;
    }

    .navbar ul {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .nav-item {
        padding: 10px 0;
        border-bottom: 1px white solid;
    }

    .nav-item:last-of-type {
        border: none;
    }

    .nav-item a {
        text-decoration: none;
    }

    main {
        display: block;
        /* width: 100%; */
    }
}

@media screen and (max-width:550px) {
    .intro-box {
        display: block;
    }

    .profilepic {
        width: 100%;
        display: flex;
        place-content: center;
    }

    .state-intro-content {
        display: block;
    }

    .flag-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        align-items: center;
    }

    .state-intro-content p {
        padding: 10px;
    }

    aside ul {
        display: block;
        padding: 20px 0;
    }
}