@media screen and (min-width:500px) {
    body h1 {
        font-size: 1.4rem;
        padding: .8rem 0;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main picture {
        grid-column: 1 / 3;
    }

    picture {
        width: 100vw;
        height: auto;
    }

    section:last-child img {
        display: none;
    }

    section:last-child h2::before {
        content: "⛅";
    }
}