@media screen and (min-width: 800px) {
    .menu-container {
        max-width: 1000px;
        margin: 0 auto;
        border-radius: 10px;
    }



    /* About */
    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .about-content {
        margin-bottom: 30px;
    }
}